@use 'reset';
@use 'vars';
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  color: azure;
  background-color: #111111;
}

/* ------------navigation-------------- */
.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em;
  z-index: 4;
  background-image: linear-gradient(180deg, rgb(17,17,17) 15%, transparent);
}

.navigation__logo {
  height: 7em;
}

.navigation__logo img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.navigation__menu__li {
  padding: 2.5em;
}

.navigation__menu__li:hover {
  cursor: pointer;
  color: aquamarine;
  transition: all ease 0.5s;
  
}

.navigation__hireMe {
  color: aquamarine;
}

.navigation__hireMe:hover {
  color: #1a82e2;
  transition: all ease 0.5s;
}

/* ------------main-------------- */
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#main::before {
  content: '';
  position: absolute;
  width: 130%;
  height: 100vh;
  left: -20%;
  top: -23%;
  transform: rotate(-10deg);
  background: linear-gradient(45deg, rgb(19,19,19) -10%, #141516);
  z-index: -1;

}


