@use 'reset';
@use 'vars';
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  color: azure;
  background-color: #111111;
}

/* ------------navigation-------------- */
.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em;
  z-index: 4;
  background-image: linear-gradient(180deg, rgb(17,17,17) 15%, transparent);
}

.navigation__logo {
  height: 7em;
}

.navigation__logo img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.navigation__menu__li {
  padding: 2.5em;
}

.navigation__menu__li:hover {
  cursor: pointer;
  color: aquamarine;
  transition: all ease 0.5s;
  
}

.navigation__hireMe {
  color: aquamarine;
}

.navigation__hireMe:hover {
  color: #1a82e2;
  transition: all ease 0.5s;
}

/* ------------main-------------- */
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#main::before {
  content: '';
  position: absolute;
  width: 130%;
  height: 100vh;
  left: -20%;
  top: -23%;
  transform: rotate(-10deg);
  background: linear-gradient(45deg, rgb(19,19,19) -10%, #141516);
  z-index: -1;
}

.main__text {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-15%,-50%);
  width: 33em;
}

.main__text h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 30px rgba(0,0,0,0.01);
  margin: 0%;
  line-height: 2.5rem;
}

.main__text p {
  color: #8a94a7c0;
  font-size: 1rem;
  margin: 0%;
  margin-top: 1.2em;

}

.main__btns {
  display: flex;
  align-items: center;
  margin-top: 1.8em;
}

.main__btns a{
  width: 12em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.main__btns__download-cv-btn {
  background: linear-gradient(90deg, #2788e2 20%, #3b58b8);
  margin-right: 1.5em;
}

.main__btns__hireMe-btn {
  background: #242830;
}

.main__btns__hireMe-btn:hover {
  background-color: #0f8ce2;
  transition: all ease 0.3s;
}

/* --------- Picture model ------*/
.main__model {
  width: 31em;
  height: 31em;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(-7%, -50%);
}

.main__model img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main__model-bg {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 45%;
  height: 100%;
}

.main__model-bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

/* --------- Skills --------------- */

#skills {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto auto 3em auto;
}

.skills__skills-text-section {
  width: 30em;
  /* border: 1px solid white; */
}

.skills__skills-heading span {
  color: #416cdf;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
}

.skills__skills-heading h2 {
  color: #ffffff;
  font-size: 3.3rem;
  margin: 0%;
  font-weight: 400;
  letter-spacing: 1px;
}

/* --------- Skills-box-container --------------- */

.skills__s-box-container {
  margin-top: 2em;
}

.skills__s-box-container__skill-box {
  display: flex;
  margin: 1.8em 0em;
}

.skills__s-box-container__skill-box__s-box-icon {
  margin-right: 0.8em;
}

.skills__s-box-container__skill-box__s-box-icon img {
  width: 2em;
  height: 2em;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f011;
  font-size: 1.5rem;
}

.skills__s-box-container__skill-box__s-box-text strong {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.9rem;
}

.skills__s-box-container__skill-box__s-box-text p {
  color: #8a94a783;
  font-size: 0.9rem;
  margin: 0.5em 0 0 0;
}

/* ----------Skills Img container*/

.skills__skill-img {
  width: 36em;
  height: 33em;
  /* border: 1px solid white; */
}

.skills__skill-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: 1px solid white; */
}

.skills__skill-img__heading {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

/* -----------Introduction---------- */

#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: relative;
  text-align: center;
  max-width: 80%;
  border-top: 1px solid #292b32;
  padding: 0.5em 0;
  border-bottom: 1px solid #292b32;
  margin: 0.5em auto;
  background-image: url(../images/bg.png);
  background-size: 59em;
  background-repeat: no-repeat;
  background-position: center;
}

.introduction__heading {
  width: 60%;
}

.introduction__heading strong {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}

.introduction__heading p {
  margin-top: 0.5em;
  color: #8a94a763;
}

.introduction__video {
  margin-top: 2.5em;
}

.introduction__video iframe {
  width: 712px;
  height: 400px;
}

/* ---------- Services ----------- */

#services {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  position: relative;
}

.services__heading {
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 90%;
  background-color: #141516;
  padding: 0.8em;
  display: flex;
}

.services__box-container {
  width: 90%;
  margin-top: 2.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  /* border: 1px solid #ffffff; */
}

.services__box-container__service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.2em 1.2em 1.2em;
  /* border: 1px solid #ffffff; */
}

.services__box-container__service-box img {
  width: 2em;
  height: 2em;
  /* font-size: 2.5rem; */
  background: linear-gradient(90deg, #2788e2, 20%, #3b67b8);
  margin-bottom: 0.8em;
  margin-right: auto;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.services__box-container__service-box p {
  color: #8a94a783;
  font-size: 0.95rem;
}

.services__box-container__service-box strong {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e4e4e4;
}

/* ---------- get in touch ----------- */
#get-in-touch {
  width: 90%;
  height: 100px;
  background-color: #15181d;
  display:flex;
  margin: 3.75em auto;
  padding: 1.2em 2.5em;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/bg-2.png);
  background-position: top right;
  background-size: 400px;
  background-repeat: no-repeat;
}

#get-in-touch span {
  color: #e4e4e4;
  font-size: 1.3rem;
  font-weight: 600;
}

#get-in-touch a {
  color: #ffffff;
  width: 10em;
  height: 3.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #2788e2 20%, #3b4eb8 )
}

/* --------------contact form------------- */

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact form {
  width: 37.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact form input, #contact form textarea {
  width: 100%;
  height: 3em;
  margin: 0.3em 0;
  padding: 0.7em;
  border: none;
  outline: none;
  background-color: #373a412d;
  color: #ffffff;
  border-radius: 5px;
}

#contact form textarea {
  height: 9em;
}

#contact form input[type="submit"] {
  height: 2.8em;
  background: linear-gradient(90deg, #2065cc 20%, #3b58b8);
  color: #ffffff;
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14151610;
  padding: 0.8em;
  margin-top: 3em;
  border-top: 1px solid #272729;
}

.footer-social {
  display: flex;
  margin-top: 0.4em;
  justify-content: center;
  align-items: center;
}

.footer-social img {
  height: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 1.5em;
}

.footer-social img:hover {
  background-color: #fff;
  /* height: 3.1em; */
  transition: all ease 0.5s;
}

::selection {
  color: #e4e4e4;
  background-color: #416cdf;
}

/* Adjustements */
#services,
#introduction,
#skills{
  padding-top: 3.8em;
}

#introduction {
  padding-bottom: 2.8em;
}

.menu-icon,
.menu-btn {
  display: none;
}

/* Responsive */
@media(max-width:1200px) {

  .model-bg{
    display: none;
  }

  .model{
    width: 400px;
    height: 400px;
    right: 5%;
    transform: translate(-5%,-50%);
  }

  .main-text{
    left: 10%;
    transform: translate(-10%, -50%);
  }
}

@media(max-width:1000px){

  .navigation{
    justify-content: space-between;
    height: 65px;
    padding: 35px 25px;
  }

  .navigation .navigation__menu{
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #111111;
    border-bottom: 4px solid #1b1b1b;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navigation .navigation__menu li {
    width: 100%;
    margin: 0 1em;
    padding: 0;
  }

  .navigation .navigation__menu li a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 30px 20px;
    border: 1px solid rgba(38,38,38,0.03);
  }

  .navigation__menu li:hover{
    color: #ffffff;
    background-color: #2065cc;
  }

  .menu-icon {
    display: block;
  }

  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 0.3em;
    position: relative;
    user-select: none;
    z-index: 2;
  }

  nav .menu-icon .nav-icon {
    background-color: #ffffffcc;
    display: block;
    position: relative;
    height: 2px;
    transition: background 0.2s ease-out;
    width: 1.5em;
  }

  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background-color: #ffffffcc;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  
  nav .menu-icon .nav-icon:before {
    top: 0.3em;
  }

  nav .menu-icon .nav-icon:after {
    top: -0.3em;
  }
  
  nav .menu-icon .nav-icon,
  nav .menu-icon:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0em;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0em;
  }

  nav .menu-btn:checked ~ .navigation__menu {
    display: block;
    /* 1'06'12 */
  }

  .navigation__menu::before {
    position: absolute;
    left: 0;
    top: -3.8em;
    content: '';
    background-color: #111111;
  }

  .main__model {
    display: none;
  }

  .main__text {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #skills {
    width: 100%;
    justify-content: space-between;
    padding-left: 2.8em;
  }

  .skills__skills-text-section {
    width: 25em;
  }

  .skills__skill-img {
    width: 40%;
    height: 20em;
  }

  .skills__skill-img img {
    object-fit: cover;
    object-position: left;
  }
}

@media(max-width:900px) {
  .introduction__video iframe {
    width: 43em;
    height: 25em;
  }

  .services__box-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
